:root {
    --primary-color: #333333;
    --secondary-color: #4d4d4d;
    --accent-color: #00b9e4;
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --button-color: #00b9e4;
    --button-hover-color: #0077c8;
    --winning-cells-color: #00b9e4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
body {
    height: 100vh;
    width: 100%;
}
.main {
    background-color: grey;

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr;
    .header {
        background-color: var(--accent-color);
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: var(--primary-color);
            font-size: 1.5rem;
            // font-weight: light;
        }
    }
    .body {
        background-color: var(--background-color);
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .select-player {
            color: white;
            select {
                border: none;
                outline: none;
                width: 50px;
                font-weight: bold;
            }
        }
        .board {
            height: clamp(250px, 35vw, 350px);
            width: clamp(250px, 35vw, 350px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            button {
                background-color: transparent;
                border: 1px solid white;
                color: white;
                cursor: pointer;
                transition: .1s ease-in-out;
                font-size: 1.5rem;
                -webkit-tap-highlight-color: transparent;
            }
            .winning-cells {
                background-color: var(--winning-cells-color);
                color: var(--primary-color);
            }
            .tie-cells {
                background-color: var(--game-over-color);
                color: var(--primary-color);
            }
        }
        .popup {
            position: absolute;
            z-index: -1;
            transition: .2s ease-in-out;
            width: 100%;
            height: 100%;
            top: 0;
            display: grid;
            place-items: center;
        }
        .popup-visible {
            position: absolute;
            z-index: 1;
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(0, 0, 0, .5);
            color: white;
            font-size: 3rem;
            text-shadow: 0 5px 5px black;
        }
    }
}

@media (hover: hover) {
    .body {
        button {
            &:hover {
                background-color: var(--secondary-color) !important;
                color: var(--accent-color) !important;
            }
            &:active {
                background-color: var(--background-color) !important;
            }
        }
    }
}